.container-input {
  margin-bottom: 20px;
  width: 350px;
  max-width: 100%;
}

.input {
  border: 2px solid var(--border);
  border-radius: 3px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  color: var(--base);
  font-weight: 500;
}

.input::placeholder,
.disabledOption {
  font-weight: 500;
  color: var(--grey);
}

.input:focus,
.input:active,
.input:focus-visible,
.input:focus-within {
  border-color: var(--secondary) !important;
}

.input-with-icon {
  padding-left: 30px;
}

.input-label {
  display: block;
  font-weight: bold;
  color: var(--base-highlight);
  font-size: 13px;
  text-align: left;
}

.container-input-and-icon {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 11px;
  left: 10px;
}
