.button {
  background-color: var(--primary);
  color: white;
  border: 2px solid var(--primary);
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: bold;
  margin: 10px auto;
}

.button-disabled {
  background-color: var(--grey);
  border-color: var(--border);
}

.button-secondary {
  background-color: transparent;
  color: var(--grey);
  border: 2px solid var(--border);
}
