.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

fieldset {
  margin-bottom: 20px;
}

.container-steps {
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 50px;
  box-sizing: border-box;
  width: 350px;
  max-width: 90vw;
}

.container-sections {
  box-sizing: border-box;
  width: 100%;
}

.description {
  color: var(--grey);
  font-size: 13px;
  display: flex;
  text-align: left;
  margin-bottom: 20px;
}

.description-accepted {
  color: var(--base);
}

.container-buttons {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.container-check-option {
  display: flex;
  width: 100%;
  margin: 10px 0;
}

.container-title-form {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 5px;
  font-weight: 500;
  font-size: 14px;
}

.container-upload-image {
  display: flex;
}

.dni-image {
  width: 400px;
  max-width: 95vw;
  max-height: 300px;
  object-fit: contain;
}

.text-important {
  color: var(--text-important);
}
