.container-checkbox {
  border: 1px solid var(--border);
  display: flex;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  margin: 0 5px;
}

.container-checkbox-radius {
  border-radius: 50%;
}

.checkbox-checked {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.checkbox-checked.container-checkbox-radius {
  background-color: transparent !important;
}

.checkbox-radius {
  background-color: var(--secondary);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
