.container-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  text-align: center;
  padding: 0 30px;
  box-sizing: border-box;
}
.logo {
  max-width: 400px;
  width: 100%;
}

.text-info {
  font-size: 20px;
}

.invisible {
  display: none;
}

.appear-right {
  animation: appear-right 1s ease-in-out both;
}

@keyframes appear-right {
  0% {
    transform: translateX(500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.appear-left {
  animation: appear-left 1s ease-in-out both;
}

@keyframes appear-left {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.disappear-left {
  animation: disappear-left 1s ease-in-out both;
}

@keyframes disappear-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-500px);
    opacity: 0;
  }
}

.disappear-right {
  animation: disappear-right 1s ease-in-out both;
}

@keyframes disappear-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(500px);
    opacity: 0;
  }
}
