.container-progress-bar {
  width: 300px;
  max-width: 100%;
  height: 5px;
  background-color: var(--border);
  margin-bottom: 20px;
  position: relative;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50px;
  background-color: var(--primary);
  transition: all 1s linear;
}

.progress-bar-step {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  top: -2px;
  left: 0;
  transition: all 1s linear;
}
