.container-camera {
  position: relative;
}

.container-camera-dni-box {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.camera-dni-box {
  width: 300px;
  max-width: 90%;
  height: 180px;
  max-height: 70%;
  border: 2px solid var(--primary);
}
